@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Noto+Sans+Mono&family=Roboto+Mono:ital@0;1&display=swap');

/* font-family: 'Kanit', sans-serif;
font-family: 'Noto Sans Mono', monospace;
font-family: 'Roboto Mono', monospace;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;

    margin: 2rem 0;

    width: auto;
}
.container_header {
    width: 800px;
}
.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border: springgreen 3px solid;
    border-radius: 17px;
    padding: 0.7rem 0;
}

.container_header nav ul {
    display: flex;
    flex-direction: row;

    list-style: none;
}
.container_header nav ul li {
    margin: 0 0.7rem;
}


/* section do quiz a baixo... */
.container_quite {
    display: flex;
    flex-direction: row;
}
.container_quite section {
    border: springgreen 3px solid;
    border-radius: 23px;

    margin: 0 2.3rem;
    height: 70vh;
}
.container_quite section:first-child {
    flex-grow: 0.7;
}
.container_quite section:last-child {
    font-family: 'Kanit', sans-serif;
    flex-grow: 1;
}



/* Ids e Class abaixo dicionados via Js ... */
.container_quiz {
    height: 70vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-button #next {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    width: 250px;

    background: rgb(255, 243, 243);
    padding: 0.6rem 0.9rem;
    margin-top: 1rem;
    border-bottom-color: greenyellow;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    /*
    border: greenyellow solid 3px;
    */
    border-radius: 10px;
}


#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quiz h2 {
    margin: 2rem 0;
}

.alternatives {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    width: 350px;
    margin: 0.4rem 0;

    background: rgb(255, 243, 243);
    padding: 0.6rem 0.9rem;
    border: greenyellow solid 3px;
    border-radius: 10px;
}